<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Portafolio - Germ치n T칠llez Vanegas</title>
        <link rel="icon" type="image/x-icon" href="/static/assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Germ치n T칠llez</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/static/assets/img/profile-picture.png" alt="Foto de perfil" /></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">Proyectos</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Sobre m칤</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experiencia</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Educaci칩n</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Intereses</a></li>
                    {{!-- <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Awards</a></li> --}}
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- Projects-->
            <section class="resume-section" id="projects">
                <div class="resume-section-content">
                    <h2 class="mb-5">Proyectos recientes</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Koopers</h3>
                            <p>Una plataforma capaz de realizar web scrapping de manera autom치tica y peri칩dica con el objetivo de capturar la portada de los sitios web de noticias m치s populares en internet y crear un registro historico. En este proyecto tuve la oportunidad de ser el arquitecto de todo el backend incluyendo la base de datos, API REST y automatizaci칩n con Celery.</p>
                            <p>Algunas de las tecnolog칤as utilizadas: JWT, Django, Django Rest Framework, PostgreSQL, Redis, Celery, Selenium.</p>
                            <p>Link: <a href="http://koopers.press/home">Ver demo</a></p>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Focus</h3>
                            <p>Una plataforma para ver las vacantes laborales en el sector de Data Science. En este proyecto tuve la oportunidad de trabajar en el Backend desarrollando la API que utilizar칤a el equipo de Frontend y la arquitectura de la base de datos. </p>
                            <p>Algunas de las tecnolog칤as utilizadas: Node.js, Express.js, MongoDB.</p>
                            <p>Link <a href="https://focus-green.vercel.app/">Demo</a></p>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">ProjectDeps</h3>
                            <p>Una plataforma B2B que gestiona los procesos de licitaci칩n de proyectos de ingenier칤a y construcci칩n entre empresas clientes y contratistas. En este proyecto tuve la oportunidad de participar en el redise침o del frontend de la empresa y crear todo un m칩dulo nuevo para gestionar los proyectos de dise침o de ingenier칤a, esto implica administrar base de datos, API REST, notificaciones autom치ticas por correo, tareas peri칩dicas y despliegues a producci칩n.</p>
                            <p>Algunas de las tecnolog칤as utilizadas: Django, Django Rest Framework, PostgreSQL, Redis, Celery, Bootstrap.</p>
                            <p>Link: <a href="https://projectdeps.com/">Visitar</a></p>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Daras Budget</h3>
                            <p>Una plataforma hecha a la medida para realizar cotizaciones de mantenimiento y/o construcciones de obra. En este proyecto tuve la oportunidad de desarrollar todo el frontend y backend, crear la estructura de la base de datos y automatizar la generaci칩n de distintos reportes y facturas de la cotizaci칩n.</p>
                            <p>Algunas de las tecnolog칤as utilizadas: Django, MySQL, Celery, Bootstrap.</p>
                        </div>
                    </div>

                    {{!-- <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Lorem Ipsum</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit facilis adipisci laboriosam, voluptas facere tenetur quos atque inventore asperiores assumenda porro tempora ex quis recusandae molestias cumque, soluta officiis perspiciatis.</p>
                        </div>
                    </div> --}}
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3">Algunas de las herramientas o lenguajes que uso en el d칤a a d칤a</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><i class="fab fa-aws"></i></li>
                        <li class="list-inline-item"><i class="fab fa-python"></i></li>
                        <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                        <li class="list-inline-item"><i class="fab fa-github"></i></li>
                        <li class="list-inline-item"><i class="fab fa-npm"></i></li>
                        <li class="list-inline-item"><i class="fas fa-database"></i></li>
                        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                        <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                        <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                        <li class="list-inline-item"><i class="fab fa-bootstrap"></i></li>
                        <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
                        <li class="list-inline-item"><i class="fab fa-react"></i></li>
                    </ul>
                    <div class="subheading mb-3">Filosof칤a de trabajo</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Scrum y metodolog칤as 치giles
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            "Don't Repeat Yourself"
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            El c칩digo legible suma m치s puntos
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Si es dificil de explicar, es mala idea
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            S칠 creativo/recursivo pero no desorganizado
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Piensa de manera proactiva
                        </li>

                    </ul>
                </div>
            </section>
            <hr class="m-0" />
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        GERMAN
                        <span class="text-primary">TELLEZ</span>
                    </h1>
                    <div class="subheading mb-5">
                        Cartagena, Colombia 췅
                        <a href="mailto:gertellezv@gmail.com">gertellezv@gmail.com</a>
                    </div>
                    <p class="lead mb-5">Actualmente soy Backend Developer, en ocasiones sue침o con la soluci칩n de un problema, no s칠 si es un don pero tiene sus ventajas. Suelo rodearme de gente m치s talentosa que yo. Me gusta armar y desarmar las cosas para entenderlas mejor, creo que por eso estudi칠 Ingenier칤a. Me gusta escuchar a las personas para ver que cosas nuevas puedo aprender. Me gusta ense침ar y dicen que tengo la habilidad de explicar muy bien 游때</p>
                    
                    <div class="social-icons">
                        <a class="social-icon" href="https://www.linkedin.com/in/gtellezv/"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="https://github.com/germantellezv"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="https://www.facebook.com/germantellezv"><i class="fab fa-facebook-f"></i></a>
                        <a class="social-icon" href="https://www.instagram.com/germantellezv/"><i class="fab fa-instagram"></i></a>
                        
                    </div>
                </div>
            </section>
            <hr class="m-0"/>
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Experiencia</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Fullstack Web Developer</h3>
                            <div class="subheading mb-3">ProjectDeps</div>
                            
                            <p>
                                Mantener y desarrollar nuevas funcionalidades tanto en frontend como en backend que incluyen la creaci칩n de API REST, interfaces amigables para el usuario, administrar base de datos,  automatizaci칩n de tareas y reportes, notificaciones de correo, despliegues.
                            </p>
                            
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Noviembre 2019 - Agosto 2020</span></div>
                        
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Auxiliar de Sistemas</h3>
                            <div class="subheading mb-3">CROC S.A.S</div>
                            <p>
                                Administrar servidores, brindar soporte t칠cnico en sitio y remoto, mantenimiento e implementaci칩n de cableado estructurado, mantenimiento preventivo y correctivo a computadoras, instalaci칩n de software y hardware.
                            </p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">October 2013 - June 2014</span></div>
                    </div>
                    
                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Educaci칩n</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Universidad Tecnol칩gica de Bol칤var</h3>
                            <div class="subheading mb-3">Ingenier칤a de Sistemas y Computaci칩n</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2014 - 2020</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">DOMOTICA SOLUCIONES</h3>
                            <div class="subheading mb-3">Curso b치sico de CCTV</div>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">SENA</h3>
                            <div class="subheading mb-3">Tecnolog칤a en Administraci칩n de Redes</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2011 - 2013</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">SENA</h3>
                            <div class="subheading mb-3">T칠cnico en Sistemas</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2010 - 2011</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Intereses</h2>
                    <p>
                        A parte de ser desarrollador web disfruto la mayor parte del tiempo fuera de casa. Me gusta probar nuevos sabores e ir a cine con mis amigos. Durante las vacaciones viajo a alg칰n lugar de Colombia que no haya conocido antes y preferiblemente lugares donde haya mucha naturaleza. 쮸lg칰na vez has visto el cielo estrellado? Te cambia la vida.
                    </p>
                    <p class="mb-0">
                        Si debo quedarme en casa, tengo una muy buena lista de peliculas pendientes en Netflix y Amazon Prime Video. Creo que tambien tengo el sue침o frustrado de ser chef porque me gusta mucho cocinar pastas y "hablar en italiano" a mi familia mientras cocino 游땍. Tambien dedico una gran cantidad de tiempo a probar nuevas tecnolog칤as para siempre estar actualizado y desarrollar proyectos de alta calidad.
                        
                    </p>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Awards-->
            {{!-- 
            <section class="resume-section" id="awards">
                <div class="resume-section-content">
                    <h2 class="mb-5">Awards & Certifications</h2>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Google Analytics Certified Developer
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Mobile Web Specialist - Google Certification
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            1
                            <sup>st</sup>
                            Place - University of Colorado Boulder - Emerging Tech Competition 2009
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            1
                            <sup>st</sup>
                            Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            2
                            <sup>nd</sup>
                            Place - University of Colorado Boulder - Emerging Tech Competition 2008
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            1
                            <sup>st</sup>
                            Place - James Buchanan High School - Hackathon 2006
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            3
                            <sup>rd</sup>
                            Place - James Buchanan High School - Hackathon 2005
                        </li>
                    </ul>
                </div>
            </section> 
            --}}

        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Core theme JS-->
        <script src="/static/js/scripts.js"></script>
    </body>
</html>
